*{
    margin:0 !important;
    box-sizing: border-box;
}
.container, .container-sm, .container-md, .container-lg, .container-xl {
    padding: 0 !important;
}

@media (min-width: 1200px){
.container, .container-sm, .container-md, .container-lg, .container-xl {
    width:100% !important;
    max-width: 100% !important;
}
}
@media (min-width: 992px){
.container, .container-sm, .container-md, .container-lg {
    width:100% !important;
    max-width: 100% !important;
}
}
@media (min-width: 768px){
.container, .container-sm, .container-md {
    width:100% !important;
    max-width: 100% !important;
}
}
@media (min-width: 576px){
.container, .container-sm {
    width:100% !important;
    max-width: 100% !important;
}
}

body{
    margin: 0;
    color: #000000;
}
header{
    position: relative;
    top:0;
    left: 0;
    right:0;
    margin:0 !important;
}

.navbar{
    margin: 0;
background-color: #c70039;
width: 100% !important;
}
#icons{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    text-align: center;
}

ul li{
    margin: 5px;
    padding: 10px;
}
#upload {
    opacity: 0;
}

#upload-label {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
}

.image-area {
    border: 2px dashed rgba(255, 255, 255, 0.7);
    padding: 1rem;
    position: relative;
}

.image-area img {
    z-index: 2;
    position: relative;
}
#imageResult{
    height: 100px;
}

#upload{
    visibility: hidden;
}